#root {
  font-family: Roboto, sans serif;
}

body {
  background: linear-gradient(#111015, #051a30);
}

.container {
  width: 100vw;
}

.nav-bar {
  width: 100vw;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;

  background: linear-gradient(
    rgba(17, 16, 21, 1),
    rgba(17, 16, 21, 0.8),
    rgba(17, 16, 21, 0.5),
    rgba(17, 16, 21, 0)
  );
}

.location {
  width: 20vw;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: row;
  padding-top: 10px;
}

.location-text {
  height: 28px;
  position: relative;
  top: -3px;
  margin-left: 5px;

  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.bold {
  font-weight: 400;
}

.location-svg {
  width: 20px;
  height: 20px;
}

.search {
  position: relative;
}

.search-bar {
  width: 40vw;
  height: 53px;
  padding-left: 40px;
  text-decoration: none;
  border: none;
  font-size: 16px;

  border-radius: 100px;
  background: #1e1e1e;

  background-image: url("../public/icons/search.svg");
  background-size: 25px;
  background-position: 15px 15px;
  background-repeat: no-repeat;
  padding-left: 50px;
}

.search-bar:focus {
  outline: none;
}

.search-button {
  position: absolute;
  right: 0px;
  top: 6px;
  background: none;
  pointer-events: pointer;
}
.search-button:focus {
  outline: none;
  border: none;
}
.search-button:hover {
  border: none;
  outline: none;
}

.theme-switcher {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.weather-results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  box-shadow: 0px 300px 1000px 10px rgba(72, 10, 61, 0.4);
}

.card {
  width: 100px;
  height: 300px;
  margin: auto 12.5px;

  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
  cursor: pointer;

  transition: width 500ms ease, height 500ms ease;
}

.card-top {
  display: flex;
  padding-top: 20px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  border-radius: 20px 20px 0 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: #1b1b1d;

  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 100px 20px rgba(117, 16, 98, 0.4);

  transition: border 200ms ease-in-out;
}

.card:hover .card-top {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 100px 20px rgba(117, 16, 98, 0.5);
}

.card-top-text {
  height: 32px;

  font-size: 20px;
  font-weight: 500;
}

.card-date {
  display: flex;
  width: 90px;
  height: 30px;
  flex-direction: column;

  color: #000;
  text-align: right;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  width: 0px;
  opacity: 0;
  transition: width 500ms ease, opacity 2s ease;
}

.open .card-date {
  width: 80px;
  opacity: 1;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 260px;
  border-radius: 0 0 20px 20px;
  background: #1b1b1d;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none;
  box-shadow: 0px 70px 100px 10px rgba(117, 16, 98, 0.4);
  z-index: 1;

  justify-content: center;
  align-items: center;

  transition: border 200ms ease-in-out;
}

.card:hover .card-body {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: none;
  box-shadow: 0px 70px 100px 10px rgba(117, 16, 98, 0.5);
}

.card-img {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  transition: scale 200ms ease-in-out;
}

.open .card-img {
  scale: 1.2;
}

.card:hover .card-img {
  scale: 1.2;
}

.card-temp {
  display: flex;
  width: 100px;
  height: 85px;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  margin-top: -20px;

  font-size: 34px;
  font-weight: 400;
}

.card.open {
  width: 240px;

  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.open .card-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background: #b3b3db;
  box-shadow: 0px 0px 100px 20px rgba(117, 16, 98, 0.5);
}

.open .card-body {
  background: #c3c3e6;
  box-shadow: 0px 70px 100px 10px rgba(117, 16, 98, 0.5);
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -20px;

  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  transform: translateY(20px);
  overflow: hidden;

  height: 0px;
  opacity: 0;
  transition: height 500ms ease, opacity 700ms ease, width 500ms ease,
    transform 700ms ease;
}

.open .card-details {
  height: 48px;
  opacity: 1;
  transform: translateY(0);
}

@media only screen and (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
  }

  .location {
    margin-bottom: -30px;
  }

  .theme-switcher {
    display: none;
  }

  .weather-results {
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
  }

  .card {
    width: 80vw;
    height: 145px;
    margin: 75px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
  }
  .card-body {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .card.open {
    width: 80vw;
    height: 195px;
  }

  .card-details {
    width: 0px;
    opacity: 0;
    overflow: visible;
  }

  .open .card-details {
    width: 50px;
    opacity: 1;
  }
}
